---
import type { JSX } from 'solid-js'
export interface Props {
  href: string
  className?: string
  ariaLabel?: string
  title?: string
  disabled?: boolean
  target?: astroHTML.JSX.HTMLAttributeAnchorTarget
  children: JSX.Element
}

const { href, className, ariaLabel, title, disabled = false, target } = Astro.props
---

{
  disabled ? (
    <button
      title={title}
      tabindex='-1'
      aria-disabled={true}
      class='group inline-flex justify-center items-center op-50 pointer-events-none'
      class:list={[className]}
      aria-label={ariaLabel}
      aria-disabled={true}
    >
      <slot />
    </button>
  ) : (
    <a
      href={href}
      tabindex='0'
      class='group inline-flex justify-center items-center hover:c-accent'
      class:list={[className]}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={false}
      target={target}
    >
      <slot />
    </a>
  )
}
