---
import type { ListItem } from './PostToc.astro';
import PostTocItem from './PostTocItem.astro';

interface Props {
  parent?: string | number;
  data: ListItem[];
}

const { data, parent } = Astro.props;
---

<ol class="max-h-65vh overflow-y-auto" class:list={[parent ? 'ml-1em' : '']}>
  {
    data.map((item, index) => (
      <li class="w-full">
        <PostTocItem
          slug={item.slug}
          text={item.text}
          index={parent ? `${parent}.${index + 1}` : index + 1}
        />
        {item.children.length > 0 && (
          <Astro.self data={item.children} parent={parent ? `${parent}.${index + 1}` : index + 1} />
        )}
      </li>
    ))
  }
</ol>
