---
import { getCollection, getEntry } from 'astro:content';

import CopyRight from '@/components/CopyRight.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import MdArticle from '@/components/MdArticle.astro';
import PostToc from '@/components/PostToc.astro';
import SubTitle from '@/components/SubTitle.astro';
import Tag from '@/components/Tag.astro';
import Layout from '@/layouts/Layout.astro';
import Main from '@/layouts/Main.astro';
import { slugify, slugifyStr, unicodeSlugify } from '@/utils/slugify';

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog', ({ data }) => !data.draft);
  return allBlogPosts.map((post) => ({ params: { slug: slugify(post.data) } }));
}

const { slug } = Astro.params;

const post = await getEntry('blog', slug);
if (!post) return Astro.redirect('/404');

const { Content, headings } = await post.render();

const { title, description, ogImage, pubDatetime, tags, canonicalURL, updateTime } = post.data;

const ogImageUrl = typeof ogImage === 'string' ? ogImage : ogImage?.src;
const ogUrl = new URL(ogImageUrl ?? `/posts/${slugifyStr(title)}.png`, Astro.url.origin).href;

// 86400000ms/day
const updateDays = Math.floor((new Date().valueOf() - (updateTime || pubDatetime).valueOf()) / 86400000);
---

<Layout title={title} description={description} ogImage={ogUrl} canonicalURL={canonicalURL}>
  <Header />

  <Main>
    <div class="mb-2 w-full flex justify-start">
      <button class="flex hover:op-75" onclick="history.back()">
        <i class="i-custom-back text-2xl" aria-hidden="true"></i>
        <span>返回</span>
      </button>
    </div>

    <h1 transition:name={unicodeSlugify(title)} class="text-2xl c-accent font-semibold">{title}</h1>

    <SubTitle datetime={pubDatetime} size="lg" className="my-2" title={title} />

    {
      updateDays > 365 && (
        <div class="mt-5 flex items-center rd-1 bg-accent bg-op-20 p-4">
          <i class="i-material-symbols-alarm mr-2 text-xl" />
          这是一篇发布于 {updateDays} 天以前的旧文，其中的部分内容可能已经过时。
        </div>
      )
    }

    <div class="relative mx-auto mt-8 max-w-3xl">
      <MdArticle>
        <Content />
      </MdArticle>
      {headings.length > 0 && <PostToc data={headings} />}
    </div>

    <ul class="mt-8">
      {tags.map((tag) => <Tag name={slugifyStr(tag)} />)}
    </ul>

    <CopyRight title={title} fileName={post.id} pubDatetime={pubDatetime} updateTime={updateTime} />

    <script
      src="https://giscus.app/client.js"
      data-repo="wtto00/wtto00.github.io"
      data-repo-id="MDEwOlJlcG9zaXRvcnkzMzAyMTM3ODI="
      data-category="Announcements"
      data-category-id="DIC_kwDOE66pls4CcQSR"
      data-mapping="og:title"
      data-strict="1"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="dark"
      data-lang="zh-CN"
      data-loading="lazy"
      crossorigin="anonymous"
      async></script>
  </Main>

  <Footer />
</Layout>

<script>
  import { setGiscusTheme } from '@/utils/theme';

  let giscusHeight = 0;

  function handleMessage(event: MessageEvent) {
    if (event.origin !== 'https://giscus.app') return;
    if (!(typeof event.data === 'object' && event.data.giscus)) return;

    const giscusData = event.data.giscus;
    if (giscusHeight === 0 && (giscusData?.resizeHeight || 0) > 0) {
      // 初始化之后，立即同步主题
      setGiscusTheme();
    }
    giscusHeight = giscusData?.resizeHeight || 0;
  }

  window.addEventListener('message', handleMessage);
</script>
