---
import { SITE } from '@/config'
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Card from '@/components/Card'
import LinkButton from '@/components/LinkButton.astro'
import slugify from '@/utils/slugify'
import type { CollectionEntry } from 'astro:content'

export interface Props {
  pageNum: number
  totalPages: number
  posts: CollectionEntry<'blog'>[]
}

const { pageNum, totalPages, posts } = Astro.props

const prev = pageNum > 1 ? '' : 'disabled'
const next = pageNum < totalPages ? '' : 'disabled'
---

<Layout title={`文章 | ${SITE.title}`}>
  <Header activeNav='posts' />
  <Main pageTitle='文章' pageDesc='所有我发布的文章：'>
    <ul>
      {posts.map(({ data }) => <Card href={`${SITE.base}/posts/${slugify(data)}`} frontmatter={data} />)}
    </ul>
  </Main>

  {
    totalPages > 1 && (
      <nav class='mb-8 mt-auto flex justify-center' aria-label='Pagination'>
        <LinkButton
          disabled={prev === 'disabled'}
          href={`${SITE.base}/posts${pageNum - 1 !== 1 ? '/' + (pageNum - 1) : ''}`}
          className='mr-4 select-none'
          ariaLabel='Previous'
        >
          <i class='i-custom-arrow-left text-2xl' />
          上一页
        </LinkButton>
        <LinkButton
          disabled={next === 'disabled'}
          href={`${SITE.base}/posts/${pageNum + 1}`}
          className='ml-4 select-none'
          ariaLabel='Next'
        >
          下一页
          <i class='i-custom-arrow-right text-2xl' />
        </LinkButton>
      </nav>
    )
  }
  <Footer noMarginTop={totalPages > 1} />
</Layout>
